@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8faf8;
  --foreground: #171717;

  --card: #ffffff;
  --sidebar: #6da48a;
}

.dark {
  --background: #0f1411;
  --foreground: #e8f2ec;

  --card: #18211c;
  --sidebar: #22372c;
}
body {
  background: var(--background);
  color: var(--foreground);
}

